.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    background-color: black;
}

.icon-img {
    height: 44px;
    width: 44px;
}

.ios .toolbar-container {
  background-color: black !important;
}
