<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">Close</ion-button>
    </ion-buttons>
    <ion-title class="title">Edit Record</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true">Save</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div>
      <ion-label>Date Recorded</ion-label>
      <ion-input [disabled]="true" class="input-field input-field-disabled" value="{{date}}"></ion-input>
      <ion-label>Duration</ion-label>
      <ion-input [disabled]="true" class="input-field input-field-disabled" value="{{displayTime}}"></ion-input>
      <ion-label>Event Name</ion-label>
      <ion-input [(ngModel)]="eventName" class="input-field" value="{{eventName}}"></ion-input>
      <ion-label>Engagement Code</ion-label>
      <ion-input [(ngModel)]="engagementCode" class="input-field" value="{{engagementCode}}"></ion-input>
      <ion-label>Activity ID</ion-label>
      <ion-input [(ngModel)]="activityId" class="input-field"value="{{activityId}}"></ion-input>
      <ion-label>Notes</ion-label>
      <ion-textarea [(ngModel)]="notes" class="input-field" value="{{notes}}"></ion-textarea>
  </div>
</ion-content>
