.button{
    min-height: 40px;
    width: 25%;
    border-radius: 15px;
    text-align: center;
    color:white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-left: 20px;
    margin-right: 20px;
    background: #000000;
}

ion-item{ --border-color: #000000; }

ion-icon {
    min-width: 20px;
    min-height: 20px;
  }

.export-button{
    border: 3px solid #2E2E38;
}

.clear-button{
    border: 3px solid #2E2E38;
}

.odd-entry-name{
    border: 0px solid #2E2E38 !important;
    background-color: #2E2E38;
    padding: 15px;
    flex: 55%;
}

.odd-entry-time{
    border: 0px solid #2E2E38 !important;
    background-color: #2E2E38;
    padding: 15px;
    flex: 40%;
}

.even-entry-name{
    border: 0px solid #17171B !important;
    background-color: #17171B;
    padding: 15px;
    flex: 55%;
}

.even-entry-time{
    border: 0px solid #17171B !important;
    background-color: #17171B;
    padding: 15px;
    flex: 40%;
}

.odd-entry-icon{
    border: 0px solid #2E2E38 !important;
    background-color: #2E2E38;
    padding: 15px;
    flex: 5%;
}

.even-entry-icon{
    border: 0px solid #17171B !important;
    background-color: #17171B;
    padding: 15px;
    flex: 5%
}

.record-entry{
    min-width: 100%;
    min-height: 40px
}

.centered {
    padding-bottom: 25%;
}

.row {
    display:flex
}
