<ion-content [fullscreen]="true">
    <ion-toolbar></ion-toolbar>
    <h4>Records</h4>
    <div class="right">
        <button class="clear-button button" (click)="clearList()">Clear</button>
    </div>

    <div class="page-content">

        <div class="scroll-area">
          <ion-list>
                <ion-item>
                    <span class="record-entry row">
                        <ion-label class="even-entry-name">Event Name</ion-label>
                        <ion-label class="even-entry-time">Duration</ion-label>
                        <ion-icon name="information-sharp" class="even-entry-icon"></ion-icon>
                    </span>
                </ion-item>
                <ion-item *ngFor="let record of listOfRecords; ; index as i">
                    <div class="record-entry">
                        <span class="row">
                            <ion-label [ngClass]="(i+1)%2!== 0? 'odd-entry-name' : 'even-entry-name' " >{{ record.eventName }}</ion-label>
                            <ion-label [ngClass]="(i+1)%2!== 0? 'odd-entry-time' : 'even-entry-time' " >{{ record.displayTime }}</ion-label>
                            <ion-icon (click)="editEntry(record)" name="information-circle-sharp" [ngClass]="(i+1)%2!== 0? 'odd-entry-icon' : 'even-entry-icon' "></ion-icon>
                        </span>

                  </div>
              </ion-item>
          </ion-list>
          <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
              <ion-infinite-scroll-content></ion-infinite-scroll-content>
          </ion-infinite-scroll>
        </div>

        <div class="centered">
            <button [ngClass]="exported === 'Exported'? 'save-button button' : 'button export-button' " (click)="exportToCsv()">{{exported}}</button>
        </div>

    </div>



</ion-content>
