.sub-title {
    padding-top: 25%;
}

.timer{
    min-height: 75px;
    margin-left: 10%;
    margin-right: 10%;
    background: #2E2E38;
    border-radius: 20px;
    text-align: center;

    .timer-time{
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: 60px;
    }
}

.button-zone {
    display: flex;
    align-items: center;
    justify-content: center;
}

.start-button{
    background: #4FC132;
}

.stop-button{
    background: #F00E0E;
}

.pause-button{
    background:#FFFF8F;
}

.button{
    min-height: 50px;
    border-radius: 10px;
    text-align: center;
    color:white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 16px;
    width: 20%;
    margin-left: 20px;
    margin-right: 20px
}
