.sub-title {
    font-size: 40px;
    padding-top: 5%;
}

.timer{
    min-height: 75px;
    margin-left: 10%;
    margin-right: 10%;
    background: #2E2E38;
    border-radius: 20px;
    text-align: center;
    margin-top: 20px;

    .timer-time{
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: 60px;
    }
}

.buttons {
    margin-top: 20px;
    margin-bottom: 20px;
}

.button-zone {
    display: flex;
    align-items: center;
    justify-content: center;
}

.start-button{
    border: 3px solid #4FC132;
}

.stop-button{
    border: 3px solid #F00E0E;
}

.pause-button{
    border: 3px solid #FFE500;
}

.button{
    min-height: 50px;
    width: 25%;
    border-radius: 15px;
    text-align: center;
    color:white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
    background: #000000;
}

.accordian {
    color: white;
}

.accordian-header{
    text-align: center;
    color: white;
}
