
<ion-content [fullscreen]="true">

    <ion-toolbar></ion-toolbar>
    <h4>Timer</h4>

    <div class="page-content">
    <h1 class="title sub-title">Record Time</h1>
    <div>
        <div class="timer">
            <ion-label class="timer-time">
                {{displayTime}}
            </ion-label>
        </div>

        <ion-grid class="buttons">
        <ion-row>
            <ion-col class="button-zone" *ngIf="!running && time === blankTime">
            <button class="start-button button" ion-button (click)="start()">Start</button>
            </ion-col>
            <ion-col class="button-zone" *ngIf="running">
            <button class="pause-button button" ion-button (click)="pause()">Pause</button>
            <button class="stop-button button" ion-button (click)="stop()">Stop</button>
            </ion-col>
            <ion-col class="button-zone" *ngIf="!running && time !== blankTime">
            <button class="start-button button" ion-button (click)="resume()">Resume</button>
            <button class="stop-button button" ion-button (click)="stop()">Stop</button>
            </ion-col>
        </ion-row>
        </ion-grid>
    </div>

        <ion-accordion-group >
            <ion-accordion value="first">
                <ion-item class="accordian-header" slot="header" color="white">
                    <ion-label class="accordian-title">Additional Information</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content">
                    <ion-label>Engagement Code</ion-label>
                    <ion-input [(ngModel)]="engagementCode" class="input-field"></ion-input>
                    <ion-label>Activity ID</ion-label>
                    <ion-input [(ngModel)]="activityId" class="input-field"></ion-input>
                    <ion-label>Notes</ion-label>
                    <ion-textarea [(ngModel)]="notes" class="input-field"></ion-textarea>
                </div>
            </ion-accordion>
        </ion-accordion-group>
    </div>

</ion-content>
