<ion-content [fullscreen]="true">

    <ion-toolbar></ion-toolbar>
    <h4>Settings</h4>


    <div class="page-content">
        <div>
            <ion-label>Logged In As</ion-label>
            <ion-input class="input-field input-field-disabled field-spacing" [disabled]="true">{{ email }}</ion-input>
        </div>
        <div>
            <ion-label>Export Email</ion-label>
                <ion-input [ngClass]="saved? 'input-field field-spacing input-field-success' : 'input-field field-spacing' " class="input-field field-spacing" [(ngModel)]="exportEmail"></ion-input>
                <div class="centered">
                    <button class="save-button button" (click)="saveEditedEmail()">Save</button>
                </div>
        </div>
    </div>
</ion-content>
